.activity {
    background: #fbfbfb;
    box-shadow: 0px 2px 4px 0px #00000005;
    border-radius: 5px;
    padding: 5px;
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;

        .card-indicator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;
            font-size: 14px;
            color: #74798c;
        }
    }
}
.tool-tip {
    background-color: red;
    color: white;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
