.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .container-chart {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .cards-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  }
  .container-performance {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
