.error-page {
    margin: auto;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    gap: 5px;

    .error-code {
        font-size: 288px;
        font-weight: 700;
        line-height: 411px;
    }
    .error-text {
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
    }
    a {
        color: red;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-top: 50px;
    }
}
