.user-list {
    text-align: center;
    .logo-page {
        width: 400px;
        height: 400px;
    }
    .user {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}
