.side-bar {
    height: calc(100vh - 91px);
    background-color: black;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .icons {
            background-color: white;
            padding: 5px;
            border-radius: 6px;
            // height: 64px;
            // width: 64px;
        }
    }
    footer {
        padding-bottom: 57px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
    }
}
